:root {
	--ion-color-primary: #3c449c;
	--ion-color-primary-rgb: 60,68,156;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #353c89;
	--ion-color-primary-tint: #5057a6;

	--ion-color-secondary: #41729F;
	--ion-color-secondary-rgb: 65,114,159;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #39648c;
	--ion-color-secondary-tint: #5480a9;

	--ion-color-tertiary: #C3E0E5;
	--ion-color-tertiary-rgb: 195,224,229;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #acc5ca;
	--ion-color-tertiary-tint: #c9e3e8;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #3c449c;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

	--ion-toolbar-height: 65px; /* Customize the height */
	--ion-toolbar-background: #c6d6f8; /* Customize the background color */
	--ion-title-font-size: 24px; /* Customize the font size for titles */
	--ion-title-color: #e0e3ea; /* Customize the font size for titles */

 
	

}

body {
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
  }

 

ion-toolbar {
  height: var(--ion-toolbar-height);
  
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
} 

/* 
ion-title {
	font-size: var(--ion-title-font-size);
	 
} */

 
button.alert-button.alert-button-confirm {
	background-color: var(--ion-color-danger);
	color: var(--ion-color-danger-contrast);
  }
  
.md button.alert-button.alert-button-confirm {
	border-radius: 4px;
}


.avatar-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    /* Blue background */
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    text-transform: uppercase;
}

  

  